Package: [[name]]
Priority: optional
Section: graphics
Architecture: amd64
Version: [[version]]
Depends: java8-runtime
Maintainer: Stegosuite Developers <devs@stegosuite.org>
Description: Steganography tool
 Stegosuite is a free steganography tool
 to hide information in image files.